:root {
    --primary-color: #B19C7B;
}


.btn-primary {
    background-color: var(--primary-color) !important;
    border: 1px solid var(--primary-color);
}

.preview-item {
    position: relative;
    width: 50%;
    /* display: inline-block; */
    /* margin: 5px; */
}

.preview-item img {
    border-radius: 5px;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#priview-container {
    width: max-content;
}

.remove-button {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}